<h2>
    Namespace:
</h2>
<p>
    <a href="solargraph:/document?query=<%= CGI.escape pin.namespace.path %>"><%= pin.namespace %></a>
</p>
<h2>
    Overview:
</h2>
<%= htmlify pin.docstring %>
<p class="document-section">
    <big><strong>Visibility:</strong></big> <%= pin.visibility %>
</p>
<% unless pin.docstring.tags(:param).empty? %>
    <h2>
        Parameters:
    </h2>
    <ul>
        <% pin.docstring.tags(:param).each do |tag| %>
            <li>
                <%= erb :_name_type_tag, layout: false, locals: {tag: tag} %>
            </li>
        <% end %>
    </ul>
<% end %>
<% unless pin.docstring.tags(:raise).empty? %>
<h2>
    Raises:
</h2>
<ul>
    <% pin.docstring.tags(:raise).each do |tag| %>
        <li>
            <%= erb :_name_type_tag, layout: false, locals: {tag: tag} %>
        </li>
    <% end %>
</ul>
<% end %>
<h2>
    Returns:
</h2>
<% if pin.docstring.tag(:return).nil? %>
    <p>
        Undefined/unknown
    </p>
<% else %>
    <ul>
        <% pin.tags(:return).each do |tag| %>
            <li>
                <%= erb :_name_type_tag, layout: false, locals: {tag: tag} %>
            </li>
        <% end %>
    </ul>
<% end %>
<% examples = pin.docstring.tags(:example) %>
<% unless examples.nil? %>
    <% examples.each do |example| %>
        <h2>
            Example: <%= example.name %>
        </h2>
        <%= ruby_to_html example.text.strip %>
    <% end %>
<% end %>
