<h2>
    Overview:
</h2>
<%= htmlify pin.docstring %>
<h2>
    Class Methods
</h2>
<ul class="doc-list">
    <% api_map.get_methods(pin.path, scope: :class, deep: false).sort{|a, b| a.name <=> b.name}.each do |meth| %>
        <li>
            <a href="solargraph:/document?query=<%= CGI.escape(meth.path) %>"><%= meth.name %></a>
        </li>
    <% end %>
</ul>
<h2>
    Instance Methods
</h2>
<ul class="doc-list">
    <% api_map.get_methods(pin.path, scope: :instance, deep: false).sort{|a, b| a.name <=> b.name}.each do |meth| %>
        <li>
            <a href="solargraph:/document?query=<%= CGI.escape(meth.path) %>"><%= meth.name %></a>
        </li>
    <% end %>
</ul>
